<!DOCTYPE html>
<html>
  <head>
    <title>RealTimeVehicleTacking</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">
    <%= javascript_include_tag "https://maps.google.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API_KEY']}" %>
    <%= tag :meta, name: "home-lat", content: ENV['HOMEBASE_LATITUDE'] %>
    <%= tag :meta, name: "home-lng", content: ENV['HOMEBASE_LONGITUDE'] %>
  </head>

  <body>
    <%= yield() %>
  </body>

</html>
